openapi: 3.2.0
info:
  title: Immersity Cloud Product Pricing API
  description: Immersity Cloud APIs provide a seamless and efficient way to leverage the power of computer vision and generate estimated disparity maps from 2D images.
  version: 3.1.1
  contact:
    name: Discord
    url: https://discord.gg/immersityai
    email: ''
  termsOfService: https://www.immersity.ai/legal/terms-conditions
servers:
- url: https://api.immersity.ai
- url: https://api.leiapix.com
tags:
- name: Product Pricing
paths:
  /api/v1/prices:
    get:
      operationId: ProductPricingController_getPrices
      summary: Get prices for all products
      description: This endpoint returns prices for all products
      parameters: []
      responses:
        '200':
          description: The prices have been successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prices'
        '401':
          description: Unauthorized
      security:
      - bearer: []
      tags:
      - Product Pricing
components:
  schemas:
    Prices:
      type: object
      properties:
        disparity:
          type: object
          description: The amount of credits for a single image
          example:
            mono: 5
        animation:
          type: object
          description: The amount of credits for a single image
          example:
            gif: 5
            mp4: 5
      required:
      - disparity
      - animation
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
externalDocs:
  description: Find out more about Immersity Cloud
  url: https://docs-api.immersity.ai/docs/getting-started
x-readme:
  explorer-enabled: true
  proxy-enabled: true
