{
  "openapi": "3.1.0",
  "info": {
    "title": "immersity-ai-authentication",
    "version": "2.0"
  },
  "servers": [
    {
      "url": "https://auth.immersity.ai/auth/realms/immersity"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/protocol/openid-connect/token": {
      "post": {
        "summary": "Get Access Token",
        "description": "Use this endpoint to obtain an access token, using your client ID and secret. Please refer to the Getting Started guide to learn how to obtain them.",
        "operationId": "get-access-token-1",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type",
                  "client_id",
                  "client_secret"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "description": "Should always be 'client_credentials'",
                    "default": "client_credentials"
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Your Client ID"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Your Client Secret"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}